/*640 x 960*/ /*temp-2*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 640px;
    height: 960px;
    background-color:  #7c7a7bd9;
    background-size: cover;
    margin: 5px;
   }

.top-container{
    position: relative;
    width: 100%;
    height: 55%;
    background-color:  #7c7a7bd9;
    background-size: cover;
}

.bg-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(images/bg.jpg);
    opacity: 1;
   
}
.mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #161616;
    opacity: 0.4;
}



.dropdown{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(images/dropdown.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 10px;
    left: 10px;
}

.search{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(images/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 10px;
    right: 10px;
}

.title{
    position: absolute;
    top:60px;
    width:100%;
    text-align: center;
    font-size:50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}

.logo{
    position: absolute;
    top:50%;
    left:50%;
    background-image: url(images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius:50% 50% 50% 50%;
    width:150px;
    height:150px;
    transform: translateY(-50%) translateX(-50%);
}

.badge{
    position: absolute;
    right:0px;
    width:35px;
    height:35px;
    border-radius: 50% 50% 50% 50%;
    background: #56cbad;
    text-align: center;
    line-height:35px;
    color:white;
}


.arrow-right{
    position: absolute;
    right:10px;
    bottom:10px;
    width: 50px;
    height: 50px;
    background-image: url(images/arrow_right.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.arrow-left{
    position: absolute;
    left:10px;
    bottom:10px;
    width: 50px;
    height: 50px;
    background-image: url(images/arrow_left.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.month-name{
    position: absolute;
    width:100%;
    text-align: center;
    bottom:14px;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}


.bottom-container{
    position: relative;
    width: 100%;
    height: 50%;
    background: #563ADA;
}

.heading1{
    position: absolute;
    width: 100%;
    font-size: 20px;
    color: black;
}

.days{
    /* position: absolute;
    font-size: 20px;
    display: block;
    text-align: center; */
    display: flex;
  justify-content: center;
  
}
.day{
    position: relative;
    /* float:left; */
    /* margin-left: 42px; */
    margin:10px;
    font-size: 20PX;
}

.date{
    position: relative;
    font-size: 20px;
    float:left;
    margin-top: 52px;
    margin-left: 65px;
}

.layers{
    position: absolute;
    font-size: 20px;
    display: block;
}

.profile-image{
    position:absolute;
    width:50px;
    height:50px;
    border-radius: 50% 50%;
    background-size: contain;
    background-position: center;
    margin:10px;
}

.img1{
    background-image: url('images/bg3.jpg');
}
.img2{
    background-image: url('images/bg4.jpg');
}
.img3{
    background-image: url('images/bg5.jpg');
}

.layer{
    position: relative;
    display:inline-block;
    width: 95%;
    height:11%;
    margin: 2%;
    line-height:70px;
    color:rgb(12, 11, 11);
    background: white;
    font-size: 30px;
    background-size: 20%;
    background-repeat:no-repeat; 
    text-align: center;
    
}

